@CHARSET "ISO-8859-1";

body {
    height: 100vh;
    margin: 0;
}

.index-card {
	width: 300px;
	min-width: 280px;
    max-height: 500px;
    display: inline-flex;
}

.with-fade{
    text-overflow: ellipsis;
    position: relative;
    max-height: 215px;
    overflow: hidden;
	width: 100%;
    content: "";
}

.with-fade:before {
    background:linear-gradient(transparent 150px, white);
    position:absolute;
    height:100%;    
    content:'';
    width:100%;
    left:0;
    top:0;
}

.index-card .md-card-image {
	height: 145px !important;
}

.index-card:hover .top-button {
	display: block;
}

.top-button {
    align-self: flex-end;
    position: absolute;
    margin-top: -20px;
    margin-left: 20px;
    display: none;
}

.cards-area {
	width: 100%;
	padding-top: 100px;
	display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login-form {
	width: 250px;
}

.login-form input {
	float: right;
}

.login-form-container {
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
	width: 100%;
	height: 60px;
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(left,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 */
}

.add-card {
	background-color: rgb(42, 177, 42) !important;
	align-self: center;
}

.options-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.edit-option {
    width: 20%;
    min-width: 200px;
    height: 20%;
    min-height: 200px;
    background-color: aquamarine;
    cursor: pointer;
    display: flex;
}

.edit-option-btn {
	background-color: transparent;
    width: 100%;
    border: none;
}